@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.indigo-mac {
  background: rgba(81, 69, 205, 0.9);
  backdrop-filter: blur(10px);
}

.mac-ified {
  --bg-opacity: 0.9;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
